<div class="container">
  <div class="row">
    <div class='col'>
        <h1>All cocktails</h1>
            <% @cocktails.each do |cocktail| %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://neodrinks.com/wp-content/uploads/2020/06/cocktails-verano-bloody-mary.jpg)">
                <%= link_to cocktail.name, cocktail_path(cocktail) %>
              </div>
            <% end %>
      </div>
  </div>
</div>
