.card-category {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.cards {
  display: flex;

}
.card {
  width: 700px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: left;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  background-position: center;
  background-size: cover;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: orange;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.cards-cocktails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  margin-bottom: 30px;
}

.card h1, p {
  opacity: .3;
}

.card {
   opacity: .5;
   font-size: 1.5rem;
}

.cards-show .card-description-ingredient {
  padding: 32px;
  padding-left: 30px;
}

.card-description-ingredient {
   background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.card show img {
  width: 400px;
  height: 500px;
  object-fit: cover;
}

