.navbar-lewagon {
  justify-content: space-between;
  background: #FFC65A;
}

.navbar-expand-sm {
flex-flow: row nowrap;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}
